$maincolor:#E30165;
body{
    position: relative;
}

.right{
    width: 30px;background-color: #000000;height: 100%;
    position: fixed;right: 0;z-index:200;
    .right_p{
        position: relative;
        height: 215px;border-bottom: 2px solid #3E3E3E;
        i{
            display: block;color:#fff;font-size: 20px;position: absolute;bottom:10px;height: 30px;width: 30px;text-align: center;
        }
    }
    .right_c{
        height: 112px;border-bottom: 2px solid #3E3E3E;
        color:#fff;text-align: center;
        i:nth-child(2){
            display: block;width: 20px;height:20px;background-color: $maincolor;border-radius:50%;margin-left: 5px;line-height: 20px;
        }
    }
    .right_b{
        padding-top: 10px;
        i{
            color:#fff;font-size: 20px;display: block;height: 30px;width: 30px;text-align: center;line-height: 30px;
        }
        i:nth-child(5){font-size: 12px;}
    }
}
.top{
    height: 221px;width: 100%;
    .top_t{
        height: 25px;background-color:#F6F6F6;border-bottom: 1px solid #EDEDED;
        .container{
            width: 1080px;height: 25px;margin: 0 auto;
            p{
                width: 200px;font-size: 12px;line-height: 25px;float:left;
                .iconfont{color:$maincolor;}
                i{display: block;float:right;}
            }
            ul{
                float:right;font-size: 12px;padding-top: 4px;
                li{float:left;height: 16px;border-right:2px solid #D4D4D0;padding-left: 13px;padding-right: 13px;margin: 0;}
                li:last-child{border-right: none;}
            }
        }
    }
    .top_m{
        height: 38px;background-color:#F6F6F6;
        ul{
            width: 960px;margin: 0 auto;height: 38px;
            li{
                float:left;
                img{width: 120px;}
            }
        }
    }
    .top_s{
        height: 125px;
        .container{
            width: 1080px;margin: 0 auto;
            img:first-child{
                float:left;
            }
            .search{ 
                float:left;width: 500px;height: 125px;margin-left: 60px;padding-top: 44px;
                input{
                width: 404px;height: 32px;border: 2px solid $maincolor;margin-top: -3px; 
            }
                button{height: 32px;width: 78px;background-color: $maincolor;color:#fff;margin-left: -8px;}
                ul{
                    margin-top: 4px;
                    li{
                        float:left;font-size: 12px;color:#9C9D9F;border-right: 1px solid #ccc;padding-left:5px;padding-right: 5px;height: 12px;line-height: 12px;

                    }
                }
            }
            
            img:last-child{float:right;margin-top: 24px;}
        }
    } 
    .top_b{
        height: 33px;background-color: #414141;
        .container{
            width: 1080px;margin: 0 auto;
            ul{
                li{
                    float:left;height: 33px;margin-right: 28px;color:#fff;line-height: 33px;font-size: 14px;
                }
                li:hover{color:$maincolor;border-bottom:2px solid $maincolor;}
            }
            ul:last-child{
                float:right;
                li:last-child{
                    color:$maincolor;position: relative
                    ;
                    i{top: -15px;right:10px;position: absolute;}
                }
                li:hover{color:$maincolor;border-bottom:none;}
                li:last-child:hover{color:#fff;}
            }
        }
    }
}
.banner{
    height: 430px;width: 100%;
    position: absolute;overflow:hidden;top: 221px;
    .page{z-index:200;position: absolute;bottom: 20px;right: 50px;
        .active{background-color: #fff;}
        span{
            display: block;width: 20px;height: 20px;float:left;border-radius:50%;background-color:#000;color:#fff;text-align: center;margin-left: 20px;line-height: 20px;
            
            }
        }
    .banner_b{
        position: absolute;//overflow: hidden;
        li{
            float:left;width: 1260px;
        }
    }
    .container{
        width: 1080px;margin: 0 auto;height: 430px;position: absolute;top:0;left: 90px;z-index:100;
        .choose{
            width: 188px;height: 425px;background-color:#FFF;
            ul{
                li{
                    height: 104px;border-bottom: 1px solid #ccc;position: relative;
                    
                    h3{
                        font-size: 20px;font-weight: bold;padding-left: 10px;height: 50px;line-height: 70px;
                    }
                    p{
                        font-size: 12px;padding-left: 10px;margin-top: 10px;padding-right: 35px;
                    }
                    i{position: absolute;font-size: 30px;right:15px;top: 20px;}
                    div{height: 430px;width: 220px;position: absolute;left: 188px;top:0;background-color: #FFF;z-index:800;border:1px solid #ccc;padding-left: 10px;display: none;
                        li{
                            border:none;height: 80px;
                            h4{font-size: 13px;font-weight:bold;}
                            p{font-size: 12px;color:#ccc;}
                        } 
                    }
                }
            li:hover{background-color: $maincolor;
                h3{color:#fff;}
                div{display: block;
                    li{background-color: #FFF;}}
            }
            li:nth-child(2):hover{
                div{top: -104px;}
            }
            li:nth-child(3):hover{
                div{top: -208px;}
            }
            }
        }
    }
}
.goods{
    width: 100%;background-color: #FFECEB;
    margin-top: 430px;
    .goods1{
        width: 1080px;margin: 0 auto;padding-top: 10px;position: relative; 
        img:first-child{float:left;width: 188px;height: 295px;}
        ul{
            float:left;margin-left: 10px;width: 800px;
            li{
                float:left;width: 105px;height: 25px;background-color: #FFF;border:1px solid #BBBBBB;margin-right: 12px;text-align: center;font-size: 14px;line-height: 24px;color:#666666;
            }
        }
        .goods_tab{
            .active{
                background-color:#000;color:#fff;
            }
        }
        .goods_b{
            width: 882px;height: 263px;position: absolute;right: 0;top:42px;overflow:hidden;
            img{
                width: 882px;height: 263px;
            }
        }
    }
    .goods2{
        background-color:#E3E3E3;width: 100%;
        .goods2_c{
            width: 1080px;margin: 0 auto;
            .goods2_c1{
                height: 363px;
                i{
                    background:url(../images/index/20180203_104424_000.png);width:40%;height: 363px;display: block;background-size:100% 363px;float:left;
                    img{width: 100%;height: 100%;} 
                     }
                i:hover{
                    background-size:110% 370px;
                }
                ul{
                    width: 39%;height: 363px;float:left;margin-left: 8px;
                    li{height: 179px;width: 49%;background-color: #f00;float:left;margin-right: 3px;margin-bottom:3px;background:url(../images/index/20180203_104424_000.png);background-size:100% 100%;}
                    li:last-child{
                        padding-top: 20px;padding-left: 10px;position: relative
                        ;
                        p{color:#fff;font-size: 13px;margin-bottom: 5px;}
                        p:hover{font-size: 14px;}
                        button{border:1px solid #fff;
                            background-color:rgba(0,0,0,0);color:#fff;width: 104px;height: 24px;font-weight:bold;position: absolute;bottom: 10px;left: 25%;}
                    }

                }
                img{width: 20%;float:right;}
            }
            .goods2_c2{
                .goods2_c2b{
                    width: 1080px;margin: 0 auto;
                    height: 40px;background-color: #fff;margin-bottom: 5px;
                    li{
                        float:left;text-align: center;line-height: 40px;border-right: 2px solid #ccc;font-weight: bold;font-size: 18px;width: 20%;

                    }
                    .active{
                        width: 60%;
                        color:$maincolor;
                        }
                    .normal{
                            width: 20%;
                        }
                    // li:nth-child(1){
                    //     width: 60%;
                    //     color:$maincolor;
                    // }
                    // li:nth-child(2){
                    //     width: 20%;
                    // }
                    // li:nth-child(3){
                    //     width: 20%;
                    // }
                   
                }
                .bigtab{
                    div{
                        img{width: 40%;}
                    ul{
                    width: 60%;height: 528px;float:right;
                    li{
                        float:left;width:33.3333%;height: 264px;
                        img{width: 100%;}
                    }
                }

                    }
                }
                
                
            }
            .goods2_c3{
                width: 1080px;margin: 0 auto;position: relative;
                
                i:first-child{
                    display: block;position: absolute;
                    left:-60px;top:30%;
                }
                i:last-child{
                    display: block;position: absolute;
                    right: -60px;top:30%;
                }
            }
            .goods2_c4{
                background-color: #E3E3E3;width: 100%;
                ul{
                    margin: 0 auto;background-color: #E3E3E3;height: 40px;margin-top: 20px;width: 670px;
                    li{
                        font-size: 18px;font-weight: bold;padding-left: 30px;padding-right: 30px;float:left;background-color: #E3E3E3;text-align: center;border-right: 2px solid #000;
                    }
                    .active{color:$maincolor;}
                    li:last-child{border-right: none;}
                }
            }
            .goods2_c5{
                ul{
                    width: 1080px;margin: 0 auto;height: 40px;background-color: #FFF;
                    li{
                        width: 33.33333%;border-right: 1px solid #ccc;float:left;
                        text-align: center;height: 40px;line-height: 40px;font-size: 12px;
                    }
                    .active{background-color:$maincolor;color:#fff;}
                }
                
            }
            .goods2_c6{
                width: 100%;height: 600px;
                ul{
                   width:10%;height: 533px;background-color: #FFF;float:left;
                   li{
                    height: 25%;text-align: center;border-bottom:1px solid #ccc;padding-top: 50px;
                    h2{font-size: 27px;font-weight: bold;}
                    p{font-size: 8px;font-weight: bold;}
                    }
                    li.active{color:$maincolor;}    
                    li:last-child{padding-top: 30px;}
                }
                div{
                    width: 90%;float:right;
                    img{
                        float:left;
                    }
                }
            }
        }
    }
    .goods3{
        width: 100%;background-color: #FFF;
        .goods3_c{
            width: 1080px;margin: 0 auto;
            ul{
                width: 1080px;height: 380px;margin-top: 10px;
                li{
                    width: 210px;float:left;
                    margin-right: 7px;
                    img{width: 100%;}
                    h4{text-align: center;line-height: 30px;color:#808080;}
                    p{text-align: center;}
                }
                li:nth-child(5){margin-right: 0;float:right;}
            }
            #like{
                width: 1080px;height: 1400px;
                ul{
                    
                    li{
                        height: 340px;float:left;width: 206px;margin-left: 5px;margin-right: 5px;
                        h4{width: 150px;float:left;font-size: 13px;line-height: 20px;margin-top: 5px;}
                        i:nth-child(3){
                            display: block;float:right;height: 50px;width: 55px;background-color:#FF3F44;padding-top: 6px;
                            p:nth-child(1){
                                color:#fff;font-size: 16px;
                            }
                            p:nth-child(2){
                                color:#fff;font-size: 12px;
                                text-decoration:line-through;
                            }
                        }
                    }
                  
                }
            }
        }
    }
}
.bottom{
    width: 100%;height: 440px;
    .link{
        height: 143px;width:100%;background-color: #DCDCDC;
        ul:first-child{
            width: 1080px;margin: 0 auto;height: 143px;
            padding-top: 10px;
            li{
                height: 143px;margin-right: 40px;float:left;font-size: 12px;padding-left: 20px;
                h3{font-size: 13px;font-weight: bold;line-height: 30px;}
                p{line-height: 20px;color:#7F7F7F;}
            }
            li:last-child{
                float:right;padding: 0;margin: 0;
            }
        }
        ul:nth-child(2){
            width: 950px;height: 70px;margin: 0 auto;
            li{
                float:left;width: 236px;height: 42px;
                border-right: 1px solid #ccc;padding-left: 20px;
                i{font-size: 42px;color:$maincolor;display: block;float:left;margin-right: 5px;}
                h4{font-weight: bold;padding-top: 5px;}
                p{
                    font-size: 10px;color:#7f7f7f;
                }
            }
        }
        b{
            text-align: center;font-size: 12px;display: block;margin-top: 45px;font-weight: normal;
        }
        span{display: block;text-align: center;font-size: 12px;color:#7f7f7f;margin-top: 10px;}
        span:nth-child(5){margin-top: 30px;}
        div{
            width:1080px;height: 30px;margin: 0 auto;
            border-top: 1px dotted #ccc;margin-top: 35px;font-size: 12px;line-height: 30px;border-bottom: 1px dotted #ccc;color:#7f7f7f;
            a{color:#000;}
        }
    }
}
