body {
  background-color: #cecccf; }

h1 {
  height: 112px;
  background-color: #cecccf;
  text-align: center; }

.container {
  height: 520px;
  width: 1017px;
  margin: 0 auto;
  background-color: #fff; }
  .container .container_l {
    width: 506px;
    height: 520px;
    float: left; }
    .container .container_l img {
      margin-left: 85px;
      margin-top: 30px; }
  .container .container_r {
    height: 520px;
    width: 511px;
    float: left; }
    .container .container_r .container_r_t {
      height: 63px;
      line-height: 70px; }
      .container .container_r .container_r_t i {
        font-size: 15px;
        color: #9f9f9f;
        float: left; }
      .container .container_r .container_r_t i:nth-child(1) {
        display: block;
        width: 64px;
        margin-left: 65px;
        margin-right: 130px; }
      .container .container_r .container_r_t i:nth-child(2) {
        display: block;
        width: 80px; }
    .container .container_r .container_r_b {
      width: 400px;
      height: 435px;
      border: 1px solid #DCDCDC;
      margin-left: 8px; }
      .container .container_r .container_r_b .container_r_b_t {
        height: 350px;
        padding-top: 31px;
        padding-left: 36px;
        position: relative; }
        .container .container_r .container_r_b .container_r_b_t i:nth-child(1) {
          position: absolute;
          right: 0;
          top: 0; }
        .container .container_r .container_r_b .container_r_b_t input {
          height: 40px;
          width: 324px;
          border: 1px solid #DCDCDC;
          border-radius: 5px;
          margin-bottom: 24px; }
        .container .container_r .container_r_b .container_r_b_t p {
          font-size: 14px;
          color: #9f9f9f;
          padding-right: 38px; }
          .container .container_r .container_r_b .container_r_b_t p span {
            color: #E30165;
            display: block;
            float: right;
            font-size: 12px;
            margin-top: 3px; }
        .container .container_r .container_r_b .container_r_b_t button {
          width: 324px;
          background-color: #E30165;
          height: 44px;
          margin-top: 24px;
          color: #fff;
          font-size: 16px; }
      .container .container_r .container_r_b .container_r_b_b {
        height: 85px;
        font-size: 14px;
        color: #9f9f9f;
        padding-left: 36px; }
        .container .container_r .container_r_b .container_r_b_b p {
          line-height: 23px; }
          .container .container_r .container_r_b .container_r_b_b p i {
            font-size: 30px;
            margin-right: 10px;
            margin-left: 10px;
            color: #E30165; }
